.main-bg{
  height: 300px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.recently-viewed-font{
  position: fixed;
  right: calc(100% - 99%);
  height: fit-content;
  color: antiquewhite !important;
  cursor: pointer
  
}

.recently-viewed-box{
    position: fixed;
    right: calc(100% - 99.9%);
    /* height: fit-content; */
    max-height: 100%;
    overflow-y: scroll;
}

.recently-viewed-box-unhide{
  position: fixed;
  right: calc(100% - 99.9%);
  max-height: 100%;
}

.button-design{
  margin: 1% 0.5%;
  
}

.recentViewHideButton{
  padding: 5px 10px 5px 10px;
  transform: scale(1.5);
}

.recentViewHideButton-delete:hover {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transform: scale(1.0);
  transition: 0.5s ease-out;
}
.recentViewHideButton-hide:hover{
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transform: scale(1.0);
  transition: 0.5s ease-out;
}


.recentViewUnhideButton{
  width: 100%;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.recentViewUnhideButton:hover{
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.5s ease-out;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
